name: CI

on:
  push:
  pull_request:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dprint/check@v2.3

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "pnpm"

      - name: Enable Corepack
        run: corepack enable

      # - name: Install pnpm
      #   uses: pnpm/action-setup@v4

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm install
